
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 36% 95%;
    --foreground: 198 60% 15%;
    --card: 0 0% 100%;
    --card-foreground: 198 60% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 198 60% 15%;
    --primary: 198 62% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 20% 90%;
    --secondary-foreground: 198 60% 20%;
    --muted: 190 20% 90%;
    --muted-foreground: 198 30% 40%;
    --accent: 180 72% 59%;
    --accent-foreground: 198 60% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 198 30% 85%;
    --input: 198 30% 85%;
    --ring: 198 62% 64%;
    --radius: 0.75rem;
    --sidebar-background: 190 36% 93%;
    --sidebar-foreground: 198 40% 30%;
    --sidebar-primary: 198 62% 64%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 180 72% 90%;
    --sidebar-accent-foreground: 198 62% 30%;
    --sidebar-border: 198 20% 85%;
    --sidebar-ring: 198 62% 64%;
  }
  .dark {
    --background: 198 40% 10%;
    --foreground: 190 20% 95%;
    --card: 198 40% 12%;
    --card-foreground: 190 20% 95%;
    --popover: 198 40% 12%;
    --popover-foreground: 190 20% 95%;
    --primary: 198 62% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 198 40% 20%;
    --secondary-foreground: 190 20% 90%;
    --muted: 198 40% 20%;
    --muted-foreground: 190 10% 70%;
    --accent: 180 72% 59%;
    --accent-foreground: 198 40% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 198 30% 25%;
    --input: 198 30% 25%;
    --ring: 198 62% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
